<div class="hero">
  <p class="large brandon">Save hundreds of dollars on your next flight.</p>
  <p class="small brandon">
    Sparrow finds mistake airfares<br>
    and sends them directly to you<br>
    saving you hundreds of dollars<br>
    on flights.
  </p>
  <div class="flight-container">
    <div class="ticket">
      <div class="circle left"></div>
      <div class="circle right"></div>
      <hr>
      <div class="top">
        <div class="trip-airports">
          <div class="ticket-logo"></div>
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="trip-airports">
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket">
      <div class="circle left"></div>
      <div class="circle right"></div>
      <hr>
      <div class="top">
        <div class="trip-airports">
          <div class="ticket-logo"></div>
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="trip-airports">
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket">
      <div class="circle left"></div>
      <div class="circle right"></div>
      <hr>
      <div class="top">
        <div class="trip-airports">
          <div class="ticket-logo"></div>
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="trip-airports">
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ticket">
      <div class="circle left"></div>
      <div class="circle right"></div>
      <hr>
      <div class="top">
        <div class="trip-airports">
          <div class="ticket-logo"></div>
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
      <div class="bottom">
        <div class="trip-airports">
          <div class="from">
            <div class="code">YYZ</div>
            <div class="city">Toronto<br> Ontario</div>
          </div>
          <div class="arrow">→</div>
          <div class="to">
            <div class="code">SJO</div>
            <div class="city">San Jose<br>Costa Rica</div>
          </div>
          <div class="trip-details">
            <div class="price">
              <div class="label">Price</div>
              <div class="found-price">$253</div>
            </div>
            <div class="date">
              <div class="label">Date</div>
              <div class="found-date">Oct 10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="logo"></div>
  <span class=" scroll-down visible-xs visible-sm glyphicon glyphicon-chevron-down"></span>
</div>

<div class="form-wrap clearfix <%= "ended" if Rails.application.config.ended %>">
  <% if Rails.application.config.ended %>
    <%= render "users/campaign_ended" %>
  <% else %>
    <%= render "users/campaign_ongoing" %>
  <% end %>
</div>
